.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.grid {
  box-sizing: content-box;
  height: 400px;
  width: 1200px;
  border: 1px solid black;
  margin: 20px;
}

.grid-cell {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
}

.grid-cell-legend {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 0.5px solid black;
  margin-right: 5%;
}

[activeCell="false"] {
  border: 0px solid black;
}
[activeCell="true"] {
  border: 1.5px solid rgb(255, 0, 0);
}

[cellStatus="Unmarked"] {
  background-color: #fff;
}
[cellStatus="Path"] {
  background-color: bisque;
}
[cellStatus="Focused"] {
  background-color: rgb(237, 109, 35);
}
[cellStatus="Captured"] {
  background-color: rgb(41, 169, 2);
}
[cellStatus="Capturing"] {
  background-color: rgb(105, 233, 221);
}

.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
}